<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ asset('style/normalize.css') }}"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style/style.css') }}"/>
        {% endblock %}
        {% block javascripts %}
            {# #}
        {% endblock %}
        <title>
            {% block title %}
                Sortir avec l'ENI
            {% endblock %}
        </title>
    </head>

    <body>
        <header>
            {# todo:  logo + lien #}
            {% include ('fragment/nav.html.twig') %}
        </header>

        <main>
            {% block body %}
                {# #}
            {% endblock %}
        </main>

        <footer>
            <div>
                &copy; {{ "now"|date("Y") }} - PoueTeam
            </div>
        </footer>
    </body>
</html>
