<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir avec l'ENI{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    </head>
    <body>

        <header>
            {# todo:  logo + lien #}
            {% include ('inc/nav.html.twig') %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div>&copy; {{ "now"|date("Y") }}</div>
        </footer>


    </body>
</html>
