{% extends 'base.html.twig' %}

{% block title %}
    Connexion | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="section-title">Connexion</h1>

    <form method="post">
        <div>
            <label for="alias-or-email" class="form-label">Pseudo ou email</label>
            <input type="text" value="{{ lastUsername }}" name="alias_or_email" id="alias-or-email" class="form-control" required autofocus>
        </div>
        <div>
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div>
            <input type="checkbox" name="remember_me" id="remember-me" class="form-control">
            <label for="remember-me" class="form-label">Se souvenir de moi</label>
        </div>
        {% if error %}
            <div class="invalid-feedback">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="form-button">
            Valider
        </button>
    </form>
{% endblock %}
