{% extends "base.html.twig" %}

{% block title %}
    Accès non autorisé | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="h3">Accès non autorisé</h1>

    <div class="alert alert-danger">
        L'accès à cette page n'est pas autorisé.
    </div>
{% endblock %}
