{% extends "base.html.twig" %}

{% block title %}
    Erreur | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="h3">Erreur</h1>

    <div class="alert alert-danger">
        Une erreur innatendue s'est produite.
    </div>
{% endblock %}
