{% extends "base.html.twig" %}

{% block title %}
    Accès interdit | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Accès interdit</h1>
    <p>L'accès à cette page est interdit.</p>
{% endblock %}
