{% extends "base.html.twig" %}

{% block title %}
    Page introuvable | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="h3">Page introuvable</h1>

    <div class="alert alert-danger">
        Cette page n'existe pas, a été déplacée ou supprimée.
    </div>
{% endblock %}
