{% extends "base.html.twig" %}

{% block title %}
    Page introuvable | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="h3">Page introuvable</h1>
    <p>Cette page est introuvable.</p>
{% endblock %}
