{% extends 'base.html.twig' %}

{% block title %}
    Profil de | {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="h3">Profil de </h1>
{% endblock %}
{#  public function detail(int $id): Response {
return $this->render('user/detail.html.twig', []);
}#}
